*{
    box-sizing: border-box;
}
header{
    color: white;
    width: 100%;
    background-color: rgb(63, 65, 64);
    height: 60px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    
    background-color: #bcbfc2;
    height: 40px;
}
a{
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    color: black;
    padding: 10px;
}