@import "tailwindcss";


@theme {
    --color-primary: #09f;
    --color-primary-light: #ceecff;
    --color-primary-dark: rgb(0, 22, 83);
    --color-midu-lol: #f8dbff;
    --color-midu-lol-light: #ceecff;
    --color-html: #E44D26;
}

.boton-social {
  @apply size-10 sm:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform p-3;
}
