*{
    margin: 0 auto;
}
header{
    color: white;
    width: 100%;
    background-color: rgb(63, 65, 64);
    padding: 10px;
}
h1{
    padding-left: 0.5rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}
.noticia{
    margin: 0.5rem;
    display: flex;
    width: 18%;
    height: auto;
    border: 1px solid black;
}
.noticia img{
    width: 100px;
    height: auto;
    border: 1px solid black;
}
.noticia h2{
    background-color: grey;
    text-align: center;
    border: 1px solid black;
}
.noticia p{
    padding: 2px;
    text-align: justify;
    border: 1px solid black;
}
.texto{
    display: column;
}