*{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 111, 86);
    padding: 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
button{
    border-radius: 10px;
}