*{
    margin: 0 auto;
}
header{
    color: white;
    width: 100%;
    background-color: rgb(63, 65, 64);
    padding: 10px;
    
}
h1{
    padding-left: 0.5rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(172, 175, 178);
}
.container img{
    border: 1px solid black;
    padding: 1rem;
    width: auto;
    height: 150px;
}