*{
    box-sizing: border-box;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
header, nav, main, section,footer, .container{
    margin: 20px auto;
    width: 90%;
}

nav ul{
    background-color: skyblue;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 3em;
}
nav li{
    border: dotted;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    align-self: flex-end;
}
nav li:nth-child(2),nav li:nth-child(4){
    align-self: flex-start;
    background: red;
}

section {
    display: grid;
    height: 10em;
    text-align: center;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: repeat(3,20%);
    place-items: stretch stretch;
    place-content: stretch space-around;
}

section article:nth-child(2) {
    background-color: lightgreen;
    grid-row: 1/4;
    grid-column: 1/2;
}
footer{
    display: grid;
    height: 10em;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(3, 100px);

}
#rrss{
    background-color: salmon;
    grid-area: rrss;
    grid-row: 1/4;
    grid-column: 1;
}
#contact{
    background-color: lightgrey;
    grid-area: contact;
    grid-row: 1/4;
    grid-column: 2;
}
#copy{
    background-color: lightblue;
    grid-area: copy;
    grid-row: 1/4;
    grid-column: 3;
}




/*Ejercicio 24 ranitas
flex-flow: column-reverse wrap-reverse;
align-content: space-between;
justify-content: center;
*/